@{
    ViewData["Title"] = "Performance Dashboard";
}

<div class="dashboard-card">
    <h1 class="card-title">
        <span class="ms-Icon ms-Icon--Lightning" aria-hidden="true"></span>
        Welcome to Fit2Run Analytics
    </h1>
    
</div>



